---
import Logo from '../assets/logo.svg';
---

<a href="/" class="logo-link">
	<Logo />
</a>

<style>
	.logo-link {
		display: flex;
		align-items: center;
	}
	.logo-link :global(svg) {
		height: 2.2rem;
		width: auto;
	}
	@media (min-width: 50em) {
		.logo-link :global(svg) {
			height: 2.7rem;
		}
	}
</style>
